EXPO_PUBLIC_DATA_MODE=mock
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_PLACES_PROXY_URL=
EXPO_PUBLIC_GOOGLE_MAPS_WEB_API_KEY=
GOOGLE_MAPS_IOS_API_KEY=
GOOGLE_MAPS_ANDROID_API_KEY=
GOOGLE_MAPS_SERVER_API_KEY=
EAS_PROJECT_ID=
